<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
        <body>
            {{>header}}
            <h1>{{helptext}}</h1>
        </body>
    {{>footer}}
</html>